*.o
*.o.d
*.class
.DS_Store

# Unity
Library/
Logs/
Temp/
obj/
*.csproj
project.sln
project.userprefs

# Visual Studio 2015 cache/options directory
.vs/

# Licensed things
Assets/Resources/Audio/Bgm/*.mp3
Assets/Resources/Audio/Se/*.mp3
Assets/Resources/Fonts/*.ttf
